.feynman__link {
    position: absolute;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    z-index: 1;
    top: 50%;
    right: 48px;
    transition:0.15s linear;
  } 
  .feynman__link:hover {
      opacity: 0.49;
      transition: 0.15s linear;
  }