.header__link {
    position: absolute;
    color: #2f80ed;
    text-decoration: none;
    margin-left: 5px;
    transition:0.15s linear;
  } 
  .header__link:hover {
      opacity: 0.49;
      transition: 0.15s linear;
  }